<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS Projects</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/CarterSlocum.css') }}">
</head>
<body id="mainbod">
    <div id="navbar">
        <button id="Home" class="barDiv">
            <a class="navlink" href="home">
                Home
            </a>
        </button>
        <button id="Blog" class="barDiv">
            <a class="navlink" href="resume">
                Resume
            </a>
        </button>
        <button id="Projects" class="barDiv">
            <a class="navlink" href="projects">
                Projects
            </a>
        </button>
    </div>

    <div id="paper">
        <div id ="innerp">
        <hr class="postDivider" style="margin-top:0px; margin-bottom: 9vh;">
        {% for post in posts %}
        <img class="logo" src="{{ url_for('static', filename = post.icon) }}">
        <h1 class="ptitle">{{ post.title }}</h1>
        <p class="pdesc">{{post.description}}</p>
        {%if post.url%}<a href="{{post.url}}">Link</a>{%endif%}
        <hr class="postDivider">
        {% endfor %}
        <hr class="postDivider" style="margin-bottom:0px; margin-top: 9vh;">
        </div>
    </div>
    
    <div id="footer">
        <a class="licon" href="https://www.facebook.com/carter.slocum"><img class="icon" src="{{ url_for('static', filename='images/FacebookIcon.png') }}" >
        <a class = "licon" href="https://www.linkedin.com/in/cpslocum"><img class="icon" src="{{ url_for('static', filename='images/LinkedInIcon.gif') }}">
        <a class= "licon" href="https://github.com/Carter440"><img class="icon" src="{{ url_for('static', filename='images/GitHubIcon.png') }}">
    </div>
</body>
</html>