<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS Home</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/CarterSlocum.css') }}">
</head>
<body id="mainbod">
    <div id="navbar">
        <button id="Home" class="barDiv">
            <a class="navlink" href="home">
                Home
            </a>
        </button>
        <button id="Blog" class="barDiv">
            <a class="navlink" href="blog">
                Blog
            </a>
        </button>
        <button id="Projects" class="barDiv">
            <a class="navlink" href="projects">
                Projects
            </a>
        </button>
    </div>

    <div id="paper">
        <div id ="innerp">
        <hr class="postDivider" style="margin-top:0px; margin-bottom: 10%;">
        <div id="picture" style="text-align: center">
            <h1>Carter Philip Slocum</h1>
            <img src="{{ url_for('static', filename='images/mahFace.jpg')}}">
            <p style="font-size: 20px">Carter Slocum is an undergraduate student at the California Polytechnic University of Pomona. He studies Computer Science and aticipates graduation in winter of 2018. He is also the vice-president of the Cal-Poly Computer Science Society. Carter has assisted in computer scientific research on several occasions and has co-authored a paper published by the IEEE. In addition, He enjoys music and has been playing Guitar for over  eight years. Carter lives on Campus in Pomona during the year and with his family in Lancaster, CA during the holidays. Carter seeks to always learn and to find ways to apply what has been learned to assist others in doing the same</p>
        </div>
        <hr class="postDivider">
        </div>
    </div>

    <div id="footer">
        <a class="licon" href="https://www.facebook.com/carter.slocum"><img class="icon" src="{{ url_for('static', filename='images/FacebookIcon.png') }}" >
        <a class = "licon" href="https://www.linkedin.com/in/cpslocum"><img class="icon" src="{{ url_for('static', filename='images/LinkedInIcon.gif') }}">
        <a class= "licon"href="https://github.com/Carter440"><img class="icon" src="{{ url_for('static', filename='images/GitHubIcon.png') }}">
    </div>
</body>
</html>