<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS Blog</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/CarterSlocum.css') }}">
</head>
<body id="mainbod">
    <div id="navbar">
        <button id="Home" class="barDiv">
            <a class="navlink" href="home">
                Home
            </a>
        </button>
        <button id="Blog" class="barDiv">
            <a class="navlink" href="blog">
                Blog
            </a>
        </button>
        <button id="Projects" class="barDiv">
            <a class="navlink" href="projects">
                Projects
            </a>
        </button>
    </div>
</body>
</html>